<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Base_WholesaleRequestForm::request_all" title="Wholesale request" translate="title" module="Base_WholesaleRequestForm" sortOrder="60" parent="Magento_Customer::customer" action="wholesale" resource="Base_WholesaleRequestForm::request_all"/>
    </menu>
</config>
