<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <customshipping>
                <active>0</active>
                <title>Укрпошта</title>
                <name>Доставка кур'єром</name>
                <shipping_cost>80</shipping_cost>
                <sallowspecific>0</sallowspecific>
                <sort_order>15</sort_order>
                <model>Base\UkrPoshta\Model\Carrier\Customshipping</model>
            </customshipping>
        </carriers>
    </default>
</config>
