<!--@subject {{trans "Reminder of unapproved requests"}} @-->
{{template config_path="design/email/header_template"}}

<style>
    .new-request-container {
        width: 100%;
    }
    .table-header{
        border: 1px solid #D3D3D3;
    }
    .tabel-raw-request_info {
        background-color: #D3D3D3;
    }
    .table-data {
        border: 1px solid #D3D3D3;
    }

    .request-container{
        width: 100%;
    }
</style>

<h2>Hello dear Owner, there are new request for wholesale change group from {{trans "%name" name=$data.newRequest.name}}!</h2>
<table class="new-request-container">
    <tr class="tabel-raw-request_info">
        <th class="table-header name">Name</th>
        <th class="table-header inn">inn</th>
        <th class="table-header text">text</th>
    </tr>
    <tr class="tabel-raw-request">
        <td class="table-data">{{trans "%name" name=$data.newRequest.name}}</td>
        <td class="table-data ">{{trans "%inn" inn=$data.newRequest.inn}}</td>
        <td class="table-data ">{{trans "%text" text=$data.newRequest.text}}</td>
    </tr>
</table>
    {{block
    class='Magento\\Framework\\View\\Element\\Template'
    template='Base_WholesaleRequestForm::email/last_five_requests.phtml'
    area='frontend'
    requests=$data.lastFiveRequests
    }}

{{template config_path="design/email/footer_template"}}
