.novaposhta-city-fast a {
    text-decoration: none;
    border-bottom: 1px dotted;
    cursor: pointer;
    margin-right: 5px;
    font-size: 0.85em;
}
.novaposhta-city-fast a:hover {
    border-bottom: 0px;
}
.label-np-help {
    font-size: 0.8em;
}

table.novaposhta-chek {
    border-collapse: collapse;
    width: auto;
}
table.novaposhta-chek td {
     border: 0px;
     height: 25px;
     padding: 1px 5px 1px 0px;
 }
table.novaposhta-chek td input {
    height: 17px;
    width: 17px;
}
table.novaposhta-chek td span, img {
    display: block;
    font-size: 1.1em;
    font-weight: 600;
}



.select2-selection--single {
    background-color: #edfffc !important;
    border-radius: 5px 5px 0 0 !important;
    border-color: #e6dafc !important;
    box-shadow: 0px 13px 16px -9px rgba(0,0,0,0.10);
}

.select2-container--default {

}

.select2-search__field {
    background-color: #edfffc  !important;
    border-radius: 5px  !important;
    border-color: #e6dafc !important;
}

.admin__control-textarea {

}

.admin__control-textarea {
    background-color: #edfffc ;
    border-radius: 5px ;
    border-color: #e6dafc ;
    box-shadow: 0px 13px 16px -8px rgba(0,0,0,0.10);;
    transition: box-shadow 200ms cubic-bezier(.17,.67,.83,.67);
}

.admin__control-textarea:hover {
    box-shadow: 0px 4px 11px -5px rgba(0,0,0,0.75);
}

.admin__control-textarea:focus {
    box-shadow: 0px 4px 11px -5px rgba(0,0,0,0.75);
}
