.wholesale_request-container {
    width: 500px;
}
.form-group {
    margin-bottom: 12px;
    & label {
        display: block;
        margin-bottom: 7px;
    }
}

.form-control {
    display: block;
    width: 100%;
    padding: 3px 5px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.btn {
    display: inline-block;
    font-weight: 700;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #212529;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.result-success {
    padding: 5px 10px;
    font-weight: 600;
    text-align: center;
    background-color: #95ff52;
    border-color: #95ff52;
    border-radius: 5px;
}

.request-status{
    text-align: center;
    border-radius: 5px;
    font-weight: 700;
    background-color: #dedede;
    padding: 7px 5px;
}
