<table class="admin__field admin__field-option ukrposhta-check">
    <tr>
        <td width="20px" style="vertical-align: middle">
            <input type="checkbox"
                   class="admin__control-checkbox"
                   simple-checked="checked"
                   ko-disabled="disabled"
                   ko-focused="focused"
                   ko-value="value"
                   attr="id: uid, name: inputName"/>
        </td>
        <td style="vertical-align: middle; width: 20px; height: 20px;">
            <img data-bind="attr: { src: require.toUrl('Base_UkrPoshta/images/Ukrposhta-ua-icon.png') }"/>
        </td>
        <td style="vertical-align: middle">

            <span data-bind="i18n: 'Доставка Укрпоштой'"></span>

        </td>
    </tr>
</table>
